<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 small-12 cell">
            <div class="footer">
                <div class="text-center">
                    Copyright &copy; {{ "now"|date("Y") }} <a href="https://jessdigisys.com">JDS</a> All Rights Reserved&nbsp;&nbsp;&nbsp;
                    <a href="{{ asset('/privacy') }}">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
                    <a href="{{ asset('/terms') }}">Terms and Conditions</a>
                </div>
            </div>
        </div>
    </div>
</div>